.tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid #545149;
  width: 100%;
  height: 260px;
  padding: 0px 40px 20px 40px;
  margin-bottom: 10px;
}

.tweets-container header {
  display: flex;
  margin: 5px;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  float: right;
}

footer {
  border-top: .5rem solid #545149;
  display: flex;
  padding: 15px 10px 0 10px;
  justify-content: space-between;

}

.tweets-container:hover {
  box-shadow: 5px 5px 10px grey;
}

.tweets-container-icons {
  color: #545149;
}

.tweets-container-icons i:hover {
  transition: color 0.3s ease;
  color: #BFD2D1;
}